@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.cassette {
    width: fit-content;
}
.cassette-content {
    width: 90px;
    margin: 10px 10px 0px 10px;
}

.nickname {
    margin: -10px 1px 10px 1px;
    word-break: break-all;
    font-family: HS-Regular;
}

.voice-key{
    margin: 2px;
}