.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.shelf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}
.cassette {
    width: fit-content;
    height: fit-content;
    margin: 10px 10px;
}

.cassetteIcon {
    width: 90px;
    height: 70px;
}

.nickname {
    margin: -10px 1px 10px 1px;

}

.voice-key{
    margin: 2px;
}