
.landing-name {
    font-family: "Pacifico", serif;
    font-size: calc(10vmin);
    margin-block-start: 0.5em;
}

.landing-divider {
    width: 70vw;
}

.landing-button {
    height: 8vh;
    background-color: #FFFFFF;
    margin: 10vh 10vw 0 10vw;
    cursor: pointer;
}

.landing-logo {
    height: 40%;
    margin-block-start: 1vmin;
}

.login-logo {
    height: 80%;
}

.font-face-sw {
    font-family: "Pacifico", serif;
}


.landing-main {
    height: 80vmin;
}