.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  margin-right: 10px;
  pointer-events: none;
}

.App-header {
  background-color: #f5f5dc;
  max-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(5px + 1vmin);
  color: black;
  padding: 1vmin;
}

.pop-up{
  display: none;
  background-color: antiquewhite;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 30px 10px;
  width: 100vw;
  max-width: 488px;
  height: 92vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.pop-up-button {
  width: fit-content;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}
